extends ../layout

block content
  main.articles-category
    h1 #{category.title}
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        include ../partials/categories

    include ../partials/preview-articles

