extends ../layout

block content
  main
    h1.visually-hidden Регистрация пользователя
    section
      .popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(href='/') Закрыть окно
        h2.popup__title Войти
        .popup__form.form.form--log-in
          form(action=(`/login?_csrf=${csrfToken}`), method='post', enctype='multipart/form-data')
            .form__field
              label
                input(type='email', name='email', placeholder='Электронная почта', required)
            if(errors && errors['email'])
              p.form__error-message #{errors ? errors['email'] : ''}
            .form__field
              label
                input(type='password', name='password', placeholder='Пароль', required)
            if(errors && errors['password'])
              p.form__error-message #{errors ? errors['password'] : ''}
            button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
