extends ../layout

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each articleItem in articles
          li.notes__list-item
            time.notes__item-time(datetime=articleItem.createdDate) #{new Date(articleItem.createdDate).toLocaleDateString()}
            a.notes__item-text(href=`/articles/edit/${articleItem.id}`) #{articleItem.title}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
